/* 
    Document   : ie6
    Created on : Jul 1, 2009, 4:22:54 PM
    Author     : chanhg
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.label { display:none !important; }
